@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: "Poppins", sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;

}
.header{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("../Imagenes/carro.png");
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    min-height: 80vh;
    display: flex;
    align-items: center;
}
.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;    
}
.logo{
    color: #fffdfc;
    font-size: 25px;
    font-weight: 800;
}
.menu .navbar ul li{
    position: relative;
    float: left;
}
.menu .navbar ul li a:hover{
    color: #ce967b;
}
.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #fffdfc;
    display: block;
    font-weight: 600;
}
#menu{
    display: none;
}
.menu-icono{
    width: 25px;
}
.menu label{
    cursor: pointer;
    display: none;
}
.header-content{
    text-align: center;
}
.header-content h1{
    font-size: 75px;
    line-height: 80px;
    color: #f9fafc;
    text-transform: uppercase;
    margin-bottom: 35px;
}
.header-content p{
    font-size: 16px;
    color: #c5c5c5;
    padding: 0 250px;
    margin-bottom: 25px;
}
.btn-1{
    display: inline-block;
    padding: 11px 35px;
    background-color: #ce967b;
    color: #f9fafc;
    text-transform: uppercase;
}
.btn-1:hover{
        background-color: #cfadad;
}
.autos{
    padding: 100px 0;
    background-color: #ffffff;
    position: relative;
}
.autos-content{
    text-align: center;
}
.autos-content h2{
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
}
.txt-p{
    font-size: 16px;
    color: #414247;
    padding: 0 250px;
    margin-bottom: 35px;
    
}

.autos-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.autos-1 {
    padding: 0 25px;  
}
.autos-1 img{
    width: 200px;
}
.autos-img{
    position: absolute;
    top: 0;
    right: 0;
}
.autos-1 h3{
    color: #323337;
    font-size: 20px;
    margin-bottom: 15px;
}
.services{
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url("../Imagenes/descargaa.jpeg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        padding: 100px 0;
}
.services-content{
    text-align: center;
}
.services-content h2{
    font-size: 55px;
    line-height: 70px;
    color: #f9fafc;
    text-transform: uppercase;
    margin-bottom: 55px;

}
.services-content p{
    font-size: 16px;
    color: #c5c5c5;
    margin-bottom: 55px;
    padding: 0 100px;
}
.services-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;
}
.services-1{
    padding: 0 100px;
}
.services-1 img{
    width: 100px;
    margin-bottom: 15px;
}
.services-1 h3{
    color: #eaccb3;
    font-size: 18px;
    
}

@media(max-width:991px){
    .menu{
        padding: 30px;
    }
    .menu label{
        display: initial;
    }
    .menu .navbar{ 
        position: absolute;    
        top: 100%;
        left: 0;
        right: 0;
        background-color: #323337;
        display: none;
    }
    .menu .navbar ul li{
        width: 100%;
    }
    #menu:checked ~ .navbar{
        display: initial;
    }
    .header{
        min-height: 0vh;
    }
    .header-content{
        padding: 100px 30px;
    }
    .header-content p{
        padding: 0;
    }
    .autos{
        padding: 30px;
    }
    .autos-content h2{
        padding: 0;
    }
    .txt-p{
        padding: 0;
    }
    .autos-group{
        flex-direction: column;
        margin-bottom: 0;
    }
    .autos-img{
        display: none;

    }

.services{
    padding: 30px;
}
.services-content p{
    padding: 0;
}
.services-group{
    flex-direction: column;
    margin-bottom: 0;
}
.services-1{
    margin-bottom: 25px;
}
}